@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.display-flex{display: flex;}
.text-dark-1{color: #131313;}
.text-dark-2{color: #424242;}
.text-dark-3{color: #727272;}
.bg-light{background-color: rgba(255, 144, 14, 0.1);}
.btn-primary{
    background-color: #FF900E;
    color: #ffffff;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
.section-title{
    font-size: 3rem;
    font-weight: 700;
}

/* Header Related Styles */

/* Navbar Related Styles */
.navbar, .banner, main{
    max-width: 1400px;
    margin: 0 auto;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 2.8rem;
    font-weight: 700;
}
/* .nav-links{} */
.nav-item{
    list-style-type: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
}

/* Banner Related Styles */
/* .banner{} */
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
/* .banner-description{} */
.banner-image{width: 100%; margin-bottom: 50px;}

/* Team Related Styles */
main > section{
    margin-top: 100px;
}
.teams{align-items: center;}
.team-image-container{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
}
/* .team-image-container img{} */
.team-content{
    max-width: 540px;
    margin-left: 70px;
}

#quick-list{font-weight: 500;}
#features{color: #FF900E;}
.team-description{margin-bottom: 30px;}

/* Some Fact Related Styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}


/* Responsive media query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links,
    .teams {
        flex-direction: column;
    }
    .teams{text-align: center;}
    .team-image-container,
    .facts-container{
        grid-template-columns: 1fr;
    }
    .team-content{margin: 10px auto;}
    .team-image-container img{width: 100%;}

    .facts-container{
        justify-items: center;
        gap: 25px;
    }
}